@charset "utf-8";
@import './reset.css';

.container{
    width: min(100% - 100px);
    margin-inline: auto;
}

body{
    background-color: #efe0af;
    font-family: Arial, Helvetica, sans-serif;
}

header, nav ul, main{
    display: flex;
    margin-top: 10px;
    color: #0A8754;
}

header h1{
    margin-right: auto;
}

nav{
    margin-left: auto;
    font-size: 25px;
    font-weight: 600;
   
}

nav ul{
    gap: 20px;
}

nav ul li{
    list-style: none;
}

.login{
    border: 1px solid #0A8754;
    border-radius: 10px;
    padding: 0 10px;
    color: #fff;
    background-color: #0A8754;
    transition: all 0.5s ease-in-out;
}

.login:hover{
    color: #0A8754;
    background-color: #fff;
    box-shadow: #0A8754;
}

main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.heading{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
}

main p{
    font-size: 28px;
}




