@charset "utf-8";
@import './reset.css';

.container{
    width: min(100% - 100px);
    margin-inline: auto;
}

body{
    background-color: #bbbcb2;
    font-family: Arial, Helvetica, sans-serif;
}

header, nav ul, main{
    display: flex;
    margin-top: 10px;
    color: #065A82;
}

header h1{
    margin-right: auto;
}

nav{
    margin-left: auto;
    font-size: 25px;
    font-weight: 600;
   
}

nav ul{
    gap: 20px;
}

nav ul li{
    list-style: none;
}

.login{
    border: 1px solid #065A82;
    border-radius: 10px;
    padding: 0 10px;
    color: #fff;
    background-color: #065A82;
    transition: all 0.5s ease-in-out;
}

.login:hover{
    color: #065A82;
    background-color: #fff;
    box-shadow: 10px 4px 5px #3a7794;
}

main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.hero {
    position: relative;
    background: url('../media/hero-banner.png') center/cover no-repeat;
    width: 100%;
    height: 100svh;
    display: flex;   
    flex-direction: column;  
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.heading{
    color: #fff;
    text-shadow:
    0 0 5px #065A82,
    0 0 10px #065A82,
    0 0 20px #065A82,
    0 0 40px #065A82;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.sub-heading{
    display: flex;
    flex-direction: column;
    border: 1px solid #bbbcb2;
    background-color: #bbbcb2;
    border-radius: 10px;
    padding: 10px 10px;
    opacity: 0.9;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}

section h2{
    font-size: 40px;
    text-shadow:
    0 0 5px #065A82,
    0 0 10px #065A82,
    0 0 20px #065A82,
    0 0 40px #065A82;
}

main p{
    color: #000;
    font-size: 28px;
}

h2{
    margin-top: 30px;
    font-size: 30px;
}

.cat{
    background-color: #37a9de;
}

input, button{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: #065A82;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

input:hover, button:hover{
    color: #065A82;
    background-color: #fff;
    box-shadow: 10px 4px 5px #065A82;
}

.tracking{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #fff;
    margin: 20px 0;
    background-color: #fff;
}

.map{
    height: 90svh;
    width: 100%;
    display: none; 
    transition: all 0.3s ease;
}